ul.menu-icon
{
	margin: 0;
}

#menu
{
	float:left;
	position: fixed;
	width: 100%;
	height: 100px;
	background: rgb(106, 82, 150);
	top:0;
	width:100%;	
}

.menu-container
{
	background-color: rgb(133, 134, 138);
	background-position: center;
	background-attachment: fixed;
	
}

a.menu-icon{
	text-decoration: none;
	position: inherit;
	color:blue;

}

a.menu-icon:hover{background-color: rgb(127, 197, 255);}

li
{
	display: inline;
	border-right: 3px solid #bbb;
	border-style: solid;
	margin-right: 25px;
	font-size: large;
	font-style: italic;
}

h2
{
	font-size:x-large;
	font-style: oblique;
	text-align: center;
	border-style: groove;

}