ul.menu-icon
{
	margin: 0;
}

#menu
{
	float:left;
	position: fixed;
	width: 100%;

	margin-left: 0;
	height: 100px;
	background: #0c0c0cfa;
	top:0;
	width:100%;	
}
.header{
	margin-top:0cm;
}
/* header{
	top: 0cm;

} */
.menu-container
{
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgb(5, 5, 5);
	background-position: center;
	background-attachment: fixed;
	
	
}

a.menu-icon{
	margin-top: 0;
	text-decoration: none;
	position: inherit;
	color:rgba(251, 251, 253, 0.801);
	font-weight: 150;

}

a.menu-icon:hover{
	background-color: #656768;}
	
li
{
	display: inline;
	border-right: 3px solid #bbb;
	border-style:hidden;
	margin-right: 25px;
	font-size:medium;
	/* font-style:oblique; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2
{
	font-size:x-large;
	font-style: oblique;
	text-align: center;
	color: ivory;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
	background-image: url("https://cdn.pixabay.com/photo/2016/11/21/12/59/electronics-1845272__480.jpg");
	/* background-image: url(https://cdn.pixabay.com/photo/2017/03/18/19/58/turntable-2154823__480.jpg); */
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;

}

.header img {
	float: left;
	width: 75px;
	height: 75px;
	background: #555;
	
  }
  
  .header h1 {
	position:sticky;
	top: 18px;
	left: 10px;
  }
h3{
	font-size: 16px;
	color:rgba(255, 255, 248, 0.836);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image-head{
	margin-top: 0;
	position: relative;
	width: 220px;
	height: 100px;
	
}
#menu-div{
	margin-top: 0ch;
	margin-bottom: 0ch;
	height:100px;
}

#logo-side{
	height: 6%;
	width: 6%;
}
  /* * {box-sizing:border-box} */

  .table-items:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width: 400px;
    height:400px;
    display:block;
    z-index:999;
}
.fb-like{
	justify-content: center;
}
#qr-code{
	justify-content: center;
}